<section>
    <h1>Doctor page</h1>
    <h4>Patient's information</h4> 
    <label for="firstName">First Name:</label>
    <input title="First name is required" name="firstName" type="text" data-ng-model="patient.firstName"/><br/>
    <label for="middleName">Middle Name:</label>
    <input title="Middle name is required" name="middleName" type="text" data-ng-model="patient.middleName"/><br/> 
    <label for="lastName">Last Name:</label>
    <input title="Last name is required" name="lastName" type="text" data-ng-model="patient.lastName"/><br/>
    <label for="Birthdate">Birth Date:</label>
    <input title="Birth Date is required" name="birthdate" type="text" data-ng-model="patient.birthday"/><br/>
    <label for="sex">Sex:</label>
    <input title="Sex is required" name="sex" type="text" data-ng-model="patient.sex"/><br/>
    <label for="admissionDate">Admission Date:</label>
    <input title="Admission Date is required" name="admissionDate" type="text" data-ng-model="patient.admissionDate"/><br/>
    <label for="dischargeDate">Discharge Date:</label>
    <input title="Disharge Date is required" name="dischargeDate" type="text" data-ng-model="patient.dischargeDate"/><br/> 
    <label for="status">Status:</label>
    <input title="Status is required" name="status" type="text" data-ng-model="patient.status"/><br/>
    <label for="totalBill">Total Bill:</label>
    <input title="Total Bill is required" name="totalBill" type="text" data-ng-model="patient.totalBill"/><br/>
          
    
    <button id="btnAdd" data-ng-click="submit()">{{mode}}</button>
</section>

<section>
	<table>
		<tr>
			<th>Full Name</th>
			<th>Admission Date</th>
			<th>Discharge Date</th>
			<th>Status </th>
		
		</tr>
		<tr data-ng-repeat="p in patients" data-ng-click="displayToModal(p)">
			<td>{{p.firstName + " " + p.middleName + " " + p.lastName}}</td>		
			<td>{{p.admissionDate}}</td>
			<td>{{p.dischargeDate}}</td>
			<td>{{p.status}}</td>		
		</tr>
	</table>
	<br>
	<table id="dialog">
		<caption>Patient's Information</caption>
		<tr>
			<td>
				<label>First name</label>
			</td>
			<td>
				<input data-ng-model="editPatient.firstName" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Last name</label>
			</td>
			<td>
				<input data-ng-model="editPatient.lastName" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Middle name</label>
			</td>
			<td>
				<input data-ng-model="editPatient.middleName" type="text">
			</td>
		</tr>
		<tr>
			<td>
				<label>Birth Date</label>
			</td>
			<td>
				<input data-ng-model="editPatient.birthday" type="text">
			</td>
		</tr>
		<tr>
			<td>
				<label>Sex</label>
			</td>
			<td>
				<input data-ng-model="editPatient.sex" type="text">
			</td>
		</tr>
	
		<tr>
			<td>
				<label>Admission Date</label>
			</td>
			<td>
				<input  data-ng-model="editPatient.admissionDate" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Discharge Date</label>
			</td>
			<td>
				<input data-ng-model="editPatient.dischargeDate" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Status</label>
			</td>
			<td>
				<input data-ng-model="editPatient.status" type="text">
			</td>
		</tr>
		<tr>
			<td>
				<label>Total Bill</label>
			</td>
			<td>
				<input data-ng-model="editPatient.totalBill" type="text">
			</td>
		</tr>
		<tr>
			<td>
		  		<label>Symptoms:</label>
		  	</td>
		  	<td>
    			<select data-ng-model="symptom" data-ng-options="symptom for symptom in symptoms"></select>
    		</td>   
    		<td>
    			<button>Add Symptom</button><br>
    		</td>
    	</tr>
    	<tr>
			<td>
		  		<label>Diseases:</label>
		  	</td>
		  	<td>
    			<select data-ng-model="disease" data-ng-options="disease for disease in diseases"></select> 
    		</td>   
    		<td>
    			<button>Add Disease</button><br>
    		</td>
    	</tr>
	</table>
	<table>
		<caption>Symptoms</caption>
		<tr>
			<th>Delete</th>
			<th>Symptom Name</th>
		</tr>
		<tr data-ng-repeat="symptom in patient.symptomID">
			<td><button>Delete</button></td>
			<td></td>
		</tr>
	</table>
	<table>
		<caption>Diseases</caption>
		<tr>
			<th>Delete</th>
			<th>Disease Name</th>
		</tr>
		<tr data-ng-repeat="disease in patient.diseaseID">
			<td>Delete</td>
			<td>Disease Name</td>
		</tr>
	</table>
	<br>
	<button data-ng-click="deletePatient()">Delete</button>
	<button data-ng-click="updatePatient()">Update</button>
</section>