/*<-- Styles for the admin screen -->
/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background-color: rgb(225,225,225);
	font-family: Calibri;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
	zoom: 75%;
}

/*Styles for the input and button text, select list, and labels.*/
input[type="text"], select, button, label
{ 	
	font-size: 120%;
}

input {
	border: none;
	padding-left: 8px;
	padding-right: 8px;
}

textarea {
	font-size: 140%;
	height: 90px;
	width: 300px;
}

/*Styles for the tables.*/
table {
	border-collapse: collapse;
	color: black;
	font-size: 150%;
	margin-left: 15%;
	margin-top: 2%;
	width: 80%;
}

/*Styles for the table elements.*/
td {
	border-width: 1px 0;
    border-color: rgb(78,78,78);
    border-style: solid;
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 250px;
}

td:first-child {
	font-weight: bold;
	text-align: left;
}

/*td:first-child, td:nth-child(2) {
	color: rgb(111,205,205);
}*/

td:nth-child(4) {
	text-align: right;
	width: 7%;
}

/*Styles for the table headers.*/
th {
	background-color: rgb(246, 215, 79);
	font-size: 130%;
}

th:first-child {
	text-align: left;
}

th:nth-child(4) {
	text-align: right;
}

/*Styles for the UI template of the application.*/
/*Styles for the sideBar div.*/
div#sidebar {
	background-color: white;
	width: 13%;
	height: 100%;
	float: left;
	overflow: auto;
}

div#sidebar-top {
	background-color: rgb(78,78,78);
	float: left;
	height: 4%;
	width: 100%;
	text-align: center;;
}

div#sidebar-main {
	background-color: rgb(51,51,51);
	color: white;
	float: left;
	height: 93%;
	width: 100%;
	text-align: center;
	line-height: 30px;
}
div#sidebar-main a:link, div#sidebar-main a:visited{
	text-decoration: none;
	color: rgb(102,102,102);
}

div#sidebar-top #appLogo {
	height: 30px;
	margin-top: 2%;
	width: 30px;
}

div#sidebar-top #appTitle {
	height: 15px;
	width: 90px;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 8%;
}

div#sidebar-main #doctor {
	display: inline-block;
	font-size: 180%;
	font-weight: bold;
	margin-left: 24%;
	margin-top: 6%;
}

div#sidebar-main #logout {
	cursor: pointer;
}

div#sidebar-main #navigation li .sectionTitle{
	color: white;
	font-size: 150%;
	font-weight: bold;
	margin-left: 35px;
}

div#sidebar-main #navigation li .screenIcon{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 10px;
}

div#sidebar-main a:link, div#sidebar-main a:visited{
	text-decoration: none;
	color: white;
	font-size: 130%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
}

div#sidebar-main #recordTab {
	background-color: rgb(71,158,178);
	margin-top: 20%;
}

div#sidebar-main #medicineTab {
	margin-left: -29%;
	margin-top: 1%;
}

div#sidebar-main #navigation ul{
	list-style-type: none;
	text-align: left;
	line-height: 40px;
}

div#sidebar-main .tab {
	background-color: Transparent;
	border: none;
	bottom: 25px;
	color: white;
	cursor: pointer;
	font-size: 200%;
	height: 6%;
	outline: none;
	width: 100%;
}

/*Styles for the functionBar div.*/
div#functionBar {
	background-color: rgb(242,242,242);
	height: 4%;
	width: 100%;
}

/*div#functionbar #inputSearch {
	margin-top: 15px;
	margin-left: 15px;
	height: 50%;
} 

div#functionbar #lblFilter {
	background-color: Transparent;
	margin-left: 10px;
	border: none;
	color: rgb(153,153,153);
	cursor: pointer;
	font-size: 120%;
	font-weight: bold;
	outline: none;
	height: 18px;
	width: 110px;
}

div#functionbar .function {
	background-color: Transparent;
	border: none;
	bottom: 25px;
	color: rgb(245, 208, 64);
	cursor: pointer;
	font-size: 175%;
	font-weight: bold;
	height: 6%;
	margin-left: 2%;
	margin-top: 0.9%;
	outline: none;
}*/

/*Styles for the body div.*/
div#body {
	height: 100%;
	width: 100%;
}

/*Styles for the records div.*/
div#body div#records {
	width: 100%;
}

div#body div#records #nameHeader {
	padding-right: 9%;
}

/*Styles for the records div.*/
div#body div#medicines {
	margin-top: -4.77%;
	visibility: hidden;
}

/*Styles for the wilcareAddPatient html main div.*/
div#main {
	font-size: 130%;
	height: 100%;
	left: 10%;
	position: relative;
	margin-top: 3%;
}

div#main #birthDay, div#main #birthYear{
	margin-left: 1%;
}

div#main #lastName{
	margin-left: 4%;
}

div#main #middleName{
	margin-left: 3%;
}

div#main #totalBill{
	height: 30px;
}

div#main .inputField {
	background-color: rgb(242,242,242);
	font-weight: bold;
	margin-bottom: 1%;
}

div#main .inputLabel {
	margin-left: 10%;
}