/*Style for the body*/
body {
	/*Overriding the margin property of body.*/
	margin: 0 !important;
	height: 100%;
	overflow: auto;
	width: 100%;
	font-family: Calibri;
	background-color: rgb(82,179,217);
}

/*Style for the loginScreen html loginScreen div*/
div#loginScreen input, div#loginScreen button {
	border: 1px solid #E1E1E1;
	border-radius: 5px;
	height: 25px;
	padding-left: 0.5%;
	padding-right: 0.5%;
	width: 190px;
}

div#loginScreen {
	text-align: center;
}

div#loginScreen #appLogoMain {
	margin-top: 7%;
}

div#loginScreen #btnLogin {
	background-color: rgb(59,151,211);
	border: none;
	color: white;
	cursor: pointer;
	width: 207px;
}

div#loginScreen #password {
	margin-top: 0.1%;
}

div#loginScreen #user, div#loginScreen #btnLogin {
	margin-top: 0.5%;
}

