<!-- Screen for adding doctors. -->
<div id="addAdmin">
	<label class="inputLabel">Username</label><br/>
	<input type="text" placeholder="Username" data-ng-model="admin.username"></input><br/><br/>
	<label class="inputLabel">Password</label><br/>
	<input type="text" placeholder="Password" data-ng-model="admin.password"></input><br/><br/>
	<label class="inputLabel">Name</label><br/>
	<input type="text" placeholder="First name" data-ng-model="admin.firstName"></input>
	<input type="text" placeholder="Middle name" data-ng-model="admin.middleName"></input>
	<input type="text" placeholder="Last name" data-ng-model="admin.lastName"></input><br/><br/>
	<!-- Buttons for adding admin. -->
	<button class="button" id="add" data-ng-click="submitAdmin()">{{adminMode}}</button>
</div>
