<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <tr data-ng-repeat="a in adminList" data-ng-click="selectAdmin(a)">
            <td>{{a.firstName}} {{a.middleName}} {{a.lastName}}</td>
            <td>{{a.username}}</td>
        </tr>
    </table>
</div>

<!-- Screen for update admin. -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updateAdminForm">
				<!-- Inputs for admin's first, middle, and last name. -->
				<label class="inputLabel" id="nameLabel">Name:</label>
				<input class="inputField" type="text" data-ng-model="admin.firstName"><br/>
				<input class="inputField" type="text" data-ng-model="admin.middleName"><br/>
				<input class="inputField" type="text" data-ng-model="admin.lastName"><br/>
				<!-- Admin's username and password.. -->
				<label class="inputLabel" id="usernameLabel">Username</label>
				<b>{{admin.username}}</b><br/>
				<label class="inputLabel" id="passwordLabel">Password</label>
				<b>{{admin.password}}</b><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for updating and deleting admin. -->
			<button class="button" id="update" ng-disabled=!updateAdminForm.$dirty ng-click="updateAdmin()">Update Admin</button>
			<button class="button" id="delete" ng-click="deleteAdmin()">Delete Admin</button>
		</div>
	</div>
</div>