<div>
	<table>
        <tr>
            <th>Symptom</th>
            <th>Description</th>
        </tr>
        <tr data-ng-repeat="s in symptomList" data-ng-click="selectSymptom(s)">
            <td>{{s.symptomName}}</td>
            <td>{{s.symptomDescription}}</td>
        </tr>
    </table>
</div>

<!-- Screen for update doctor. -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updateSymptomForm">
				<!-- Inputs for admin's first, middle, and last name. -->
				<label class="inputLabel" id="nameLabel">Name:</label>
				<input class="inputField" type="text" data-ng-model="symptom.symptomName"><br/>
				<label class="inputLabel" id="descLabel">Description:</label>
				<input class="inputField" type="text" data-ng-model="symptom.symptomDescription"><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for updating and deleting admin. -->
			<button class="button" id="update" ng-disabled=!updateSymptomForm.$dirty ng-click="updateSymptom()">Update Symptom</button>
			<button class="button" id="delete" ng-click="deleteSymptom()">Delete Symptom</button>
		</div>
	</div>
</div>