<!-- Screen for adding doctors. -->
<div id="addRecord">
	<label class="inputLabel">Username</label><br/>
	<input type="text" placeholder="Username" data-ng-model="doctor.username"></input><br/><br/>
	<label class="inputLabel">Password</label><br/>
	<input type="text" placeholder="Password" data-ng-model="doctor.password"></input><br/><br/>
	<label class="inputLabel">Name</label><br/>
	<input type="text" placeholder="First name" data-ng-model="doctor.firstName"></input>
	<input type="text" placeholder="Middle name" data-ng-model="doctor.middleName"></input>
	<input type="text" placeholder="Last name" data-ng-model="doctor.lastName"></input><br/><br/>
	<label class="inputLabel">Fee</label><br/>
	<input type="number" placeholder="0.0" data-ng-model="doctor.price"></input><br/><br/>
	<button class="button" id="add" data-ng-click="submitDoctor()">{{doctorMode}}</button>
</div>
