<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr data-ng-repeat="d in diseaseList" data-ng-click="selectDisease(d)">
            <td>{{d.diseaseName}}</td>
            <td>{{d.diseaseDescription}}</td>
        </tr>
    </table>
</div>

<!-- Screen for update doctor. -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updateDiseaseForm">
				<!-- Inputs for admin's first, middle, and last name. -->
				<label class="inputLabel" id="nameLabel">Name:</label>
				<input class="inputField" type="text" data-ng-model="disease.diseaseName"><br/>
				<label class="inputLabel" id="descLabel">Description:</label>
				<input class="inputField" type="text" data-ng-model="disease.diseaseDescription"><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for updating and deleting admin. -->
			<button class="button" id="update" ng-disabled=!updateDiseaseForm.$dirty ng-click="updateDisease()">Update Disease</button>
			<button class="button" id="delete" ng-click="deleteDisease()">Delete Disease</button>
		</div>
	</div>
</div>