<!-- Screen for adding diseases. -->
<div id="addDisease">
	<form name="addDiseaseForm"> 
		<!-- Inputs for disease name and description. -->
		<label class="inputLabel" id="diseaseNameLabel">Disease</label><br/>
		<input class="inputField" id="dieaseName" placeholder="Name" name="diseaseName" title="Disease name is required" type="text" data-ng-model="disease.diseaseName"><br/><br/>
		<label class="inputLabel" id="diseaseDescLabel">Description</label><br/>
		<textarea class="inputField" id="diseaseDescription" placeholder="Description" name="diseaseDescription" title="Disease description is required" type="text" data-ng-model="disease.diseaseDescription"></textarea><br/><br/>
		<!-- Medicine list. -->
		<label class="inputLabel">Medicine</label><br/>
		<select class = "inputField" title="Medicine is required" name="medicine" data-ng-model="medicine.id"
			ng-options="medicine.medicineName for medicine in medicineList">
			<!-- Options are created programatically. -->
		</select><br/><br/>
		<!-- Medicine list. -->
		<label class="inputLabel">Symptom</label><br/>
		<select class = "inputField" title="Symptom is required" name="symptom" data-ng-model="symptom.id"
			ng-options="symptom.symptomName for symptom in symptomList">
			<!-- Options are created programatically. -->
		</select><br/><br/>
		<!-- Buttons for adding disease. -->
		<button class="button" id="add" data-ng-click="submitDisease()">{{diseaseMode}}</button>
	</form>
</div>
