<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr data-ng-repeat="m in medicineList" data-ng-click="selectMedicine(m)">
            <td>{{m.medicineName}}</td>
            <td>{{m.medicineDescription}}</td>
            <td>{{m.price}}</td>
        </tr>
    </table>
</div>

<!-- Screen for update doctor. -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updateMedicineForm">
				<!-- Inputs for admin's first, middle, and last name. -->
				<label class="inputLabel" id="nameLabel">Name:</label>
				<input class="inputField" type="text" data-ng-model="medicine.medicineName"><br/>
				<label class="inputLabel" id="descLabel">Description:</label>
				<input class="inputField" type="text" data-ng-model="medicine.medicineDescription"><br/>
				<label class="inputLabel" id="priceLabel">Price:</label>
				<input class="inputField" type="number" data-ng-model="medicine.price"><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for updating and deleting admin. -->
			<button class="button" id="update" ng-disabled=!updateMedicineForm.$dirty ng-click="updateMedicine()">Update Medicine</button>
			<button class="button" id="delete" ng-click="deleteMedicine()">Delete Medicine</button>
		</div>
	</div>
</div>