<!-- Screen for adding medicines. -->
<div id="addMedicine">
	<form name="addMedicineForm"> 
		<!-- Inputs for Medicine name and price. -->
		<label class="inputLabel" id="medicineNameLabel">Medicine Name</label><br/>
		<input class="inputField" id="medicineName" type="text" placeholder="Medicine name" title="Name is required" name="medicineName" data-ng-model="medicine.medicineName"><br/><br/>
		
		<label class="inputLabel" id="medicineDescriptionLabel">Medicine Description</label><br/>
		<input class="inputField" id="medicineDescription" type="text" placeholder="Medicine Description" title="Medicine is required" name="medicineDesciption" data-ng-model="medicine.medicineDescription"><br/><br/>
		
		<label class="inputLabel" id="medicinePriceLabel">Medicine Price</label><br/>
		<input class="inputField" id="medicinePrice" type="number" placeholder="0.0" title="Price is required" name="medicineDesciption" data-ng-model="medicine.price"><br/><br/>
		<!-- Buttons for adding medicine. -->
		<button class="button" id="add" data-ng-click="submitMedicine()">{{medicineMode}}</button>
	</form>
</div>
