<!-- Screen for adding symptoms. -->
<div id="addSymptom">
	<form name="addSymptomForm"> 
		<!-- Inputs for symptom. -->
		<label class="inputLabel" id="symptomNameLabel">Symptom</label><br/>
		<input class="inputField" id="symptomName" placeholder="Name" name="symptom" title="Symptom is required" type="text" data-ng-model="symptom.symptomName"><br/><br/>
		<label class="inputLabel" id="symptomDescLabel">Description</label><br/>
		<textarea class="inputField" id="symptomDesc" placeholder="Description" name="symptomDesc" title="Symptom description is required" type="text" data-ng-model="symptom.symptomDescription"></textarea><br/><br/>
		<!-- Buttons for adding symptom. -->
		<button class="button" id="add" data-ng-click="submitSymptom()">{{symptomMode}}</button>
	</form>
</div>
