<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <tr data-ng-repeat="d in doctorList" data-ng-click="selectDoctor(d)">
            <td>{{d.firstName}} {{d.middleName}} {{d.lastName}}</td>
            <td>{{d.username}}</td>
        </tr>
    </table>
</div>

<!-- Screen for update doctor. -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updateDoctorForm">
				<!-- Inputs for admin's first, middle, and last name. -->
				<label class="inputLabel" id="nameLabel">Name:</label>
				<input class="inputField" type="text" data-ng-model="doctor.firstName"><br/>
				<input class="inputField" type="text" data-ng-model="doctor.middleName"><br/>
				<input class="inputField" type="text" data-ng-model="doctor.lastName"><br/>
				<!-- Admin's username and password.. -->
				<label class="inputLabel" id="usernameLabel">Username</label>
				<b>{{doctor.username}}</b><br/>
				<label class="inputLabel" id="passwordLabel">Password</label>
				<b>{{doctor.password}}</b><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for updating and deleting admin. -->
			<button class="button" id="update" ng-disabled=!updateDoctorForm.$dirty ng-click="updateDoctor()">Update Doctor</button>
			<button class="button" id="delete" ng-click="deleteDoctor()">Delete Doctor</button>
		</div>
	</div>
</div>