<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>	
		</tr>
		<tr>
			<td>Attention Deficit Hyperactivity Disorderd (ADHD)</td>
			<td>Brain disorder marked by an ongoing pattern of inattention.</td>
		</tr>
		<tr>
			<td>Acquired Immune Deficiency Syndrome (AIDS)</td>
			<td>Syndrome caused by the human immunodeficiency virus.</td>
		</tr>
		<tr>
			<td>Cancer</td>
			<td>Abnormal cell growth.</td>
		</tr>
		<tr>
			<td>Obesity</td>
			<td>Bodyweight 20% higher than normal.</td>
		</tr>
		<tr>
			<td>Salmonella</td>
			<td>Food poisoning caused by salmonella bacterium.</td>
		</tr>
		<tr>
			<td>Influenza</td>
			<td>Disease caused by an influenza virus.</td>
		</tr>
		<tr>
			<td>Meningitis</td>
			<td>Inflammation of the meninges.</td>
		</tr>
		<tr>
			<td>Zika Fever</td>
			<td>Disease caused by Zika virus.</td>
		</tr>
		<tr>
			<td>Epilepsy</td>
			<td>Characterized by epileptic seizures.</td>
		</tr>
		<tr>
			<td>Diabetes</td>
			<td>High blood glucose levels.</td>
		</tr>
		<tr>
			<td>Giardasis</td>
			<td>Infection of the intestine.</td>
		</tr>
		<tr>
			<td>Cardiovascular Disease</td>
			<td>Narrowed blood vessels.</td>
		</tr>
		<tr>
			<td>Stroke</td>
			<td>Cutoff of blood flow to the brain.</td>
		</tr>
		<tr>
			<td>Asthma</td>
			<td>Respiratory condition marked by spasms in the bronchi of the lungs.</td>
		</tr>
		<tr>
			<td>Scabies</td>
			<td>Extremely itchy skin disorder.</td>
		</tr>
		<tr>
			<td>Sexually Transmitted Disease (STD)</td>
			<td>Infections passed from one person to another through sexual contact.</td>
		</tr>
		<tr>
			<td>Microcephaly</td>
			<td>Abnormal smallness of the head.</td>
		</tr>
		<tr>
			<td>Middle East Respiratory Syndrome (MRSA)</td>
			<td>Respiratory disease caused by a novel coronavirus.</td>
		</tr>
		<tr>
			<td>Traumatic Brain Injury (TBI)</td>
			<td>External force traumatically injures the brain.</td>
		</tr>
		<tr>
			<td>Human Papillomavirus (HPV)</td>
			<td>Most common sexually transmitted infection (STI).</td>
		</tr>
	</table>
</div>