<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Price</th>
		</tr>
		<tr>
			<td>Robitussin</td>
			<td>Syrup for cough.</td>
			<td>P120</td>
		</tr>
		<tr>
			<td>Biogesic</td>
			<td>Pills for headaches.</td>
			<td>P150</td>
		</tr>
		<tr>
			<td>Stresstabs</td>
			<td>Pills for migraine.</td>
			<td>P150</td>
		</tr>
		<tr>
			<td>Neozep</td>
			<td>Pills for runny nose.</td>
			<td>P90</td>
		</tr>
		<tr>
			<td>Medicol</td>
			<td>Pills for migraine.</td>
			<td>P140</td>
		</tr>
		<tr>
			<td>Skelan</td>
			<td>Pills for fighting arthritis.</td>
			<td>P90</td>
		</tr>
		<tr>
			<td>Humira</td>
			<td>Medication for rheumatoid arthritis.</td>
			<td>P230</td>
		</tr>
		<tr>
			<td>Harvoni</td>
			<td>Used to prevent hepatitis C	virus.</td>
			<td>P200</td>
		</tr>
		<tr>
			<td>Remicade</td>
			<td>Works against tumor nercosis.</td>
			<td>P220</td>
		</tr>
		<tr>
			<td>Enbrel</td>
			<td>Treats autoimmune diseases.</td>
			<td>P220</td>
		</tr>
		<tr>
			<td>Lantus</td>
			<td>Lowers amount of glucose in the blood.</td>
			<td>p175</td>
		</tr>
		<tr>
			<td>Rituxan</td>
			<td>Antibody against the protein CD20.</td>
			<td>P270</td>
		</tr>
		<tr>
			<td>Avastin</td>
			<td>Slows growth of new blood vessels.</td>
			<td>P300</td>
		</tr>
		<tr>
			<td>Advair</td>
			<td>Improves breathing.</td>
			<td>P230</td>
		</tr>
		<tr>
			<td>Herceptin</td>
			<td>Used to treat breast cancers.</td>
			<td>P400</td>
		</tr>
		<tr>
			<td>Crestor</td>
			<td>Used to treat high cholesterol.</td>
			<td>P390</td>
		</tr>
		<tr>
			<td>Abilify</td>
			<td>Used to treat schizophrenia.</td>
			<td>P350</td>
		</tr>
		<tr>
			<td>Lyrica</td>
			<td>Used to treat epilepsy.</td>
			<td>P380</td>
		</tr>
		<tr>
			<td>Revlimid</td>
			<td>Oral cancer drug.</td>
			<td>P390</td>
		</tr>
		<tr>
			<td>Glivec</td>
			<td>Used in treatment of multiple cancers.</td>
			<td>P410</td>
		</tr>
		<tr>
			<td>Spiriva</td>
			<td>Manages chronic obstructive pulmonary disease.</td>
			<td>P320</td>
		</tr>
		<tr>
			<td>Neulasta</td>
			<td>Treats neutropenia.</td>
			<td>P310</td>
		</tr>
		<tr>
			<td>Nexium</td>
			<td>Reduces stomach acid.</td>
			<td>P340</td>
		</tr>
		<tr>
			<td>Symbicort</td>
			<td>Prevents wheezing and shortness of breath.</td>
			<td>P290</td>
		</tr>
	</table>
</div>