<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Disease</th>
			<th>Admission Date</th>
			<th>Discharge Date</th>
			<th>Status </th>
		
		</tr>
		<tr data-ng-repeat="p in patients" data-ng-click="displayToModal(p)">
			<td>{{p.firstName + " " + p.lastName}}</td>		
			<td>{{p.disease}}</td>
			<td>{{p.admissionDate}}</td>
			<td>{{p.dischargeDate}}</td>
			<td>{{p.status}}</td>		
		</tr>
	</table>
</div>

<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div class="modalHeader">
			header
			<div id="close" class="close">&times;</div>
		</div>
		<div class="modalBody">
			<input ng-model="name">
		</div>
		<div class="modalFooter">
			footer
		</div>
	</div>
</div>