<section>
    <h4>Login</h4>
    <label for="username">Username</label>
    <input name="username" data-ng-model="username" type="text"><br>
    <label for="password">Password</label>
    <input name="password" data-ng-model="password" type="password"><br>
    <button data-ng-click="submit()">Login</button>
<section>