<section>
	<h1>Admin page</h1>
    <h4>Staff's information</h4> 
    <label for="username">Username:</label>
    <input title="Username is required" name="username" type="text" data-ng-model="staff.username"/><br/>
    <label for="password">Password:</label>
    <input title="Password is required" name="password" type="text" data-ng-model="staff.password"/><br/>
    <label for="firstName">First Name:</label>
    <input title="First name is required" name="firstName" type="text" data-ng-model="staff.firstName"/><br/>
    <label for="middleName">Middle Name:</label>
    <input title="Middle name is required" name="middleName" type="text" data-ng-model="staff.middleName"/><br/> 
    <label for="lastName">Last Name:</label>
    <input title="Last name is required" name="lastName" type="text" data-ng-model="staff.lastName"/><br/>
    <label for="StaffType">Type:</label>
    <select title="Type is required" name="StaffType" data-ng-model="staff.staffType">
    	<option default>-- Select Type --</option>
    	<option ng-value="Admin">Admin</option>
    	<option ng-value="Doctor">Doctor</option>
    </select><br/>
    <label for="StaffStatus">Status:</label>
    <select title="Status is required" name="StaffStatus" data-ng-model="staff.staffStatus">
    	<option default>-- Select Status --</option>
    	<option ng-value="true">Active</option>
    	<option ng-value="false">Inactive</option>
    </select><br/>

    <button id="btnAdd" data-ng-click="submit()">{{addStaffs}}</button><br>
    <nav><a href="#ListAdmin">ListAdmin</a></nav>
</section>




<section>
    <h4>Medicine's information</h4> 
    <label for="medicineName">Medicine name:</label>
    <input title="Medicine name is required" name="medicineName" type="text" data-ng-model="medicine.medicineName"/><br/>
    <label for="medicineDescription">Medicine Description:</label>
    <input title="Medicine Description is required" name="medicineDescription" type="text" data-ng-model="medicine.medicineDescription"/><br/>
    <label for="price">Price:</label>
    <input title="Price is required" name="price" type="text" data-ng-model="medicine.price"/><br/>

    <button id="btnAdd" data-ng-click="medicine.submit()">{{addMedicines}}</button><br>
    <nav><a href="#ListAdmin">ListAdmin</a></nav>
</section>





<section>
    <h4>Disease's information</h4> 
    <label for="diseaseName">Disease Name:</label>
    <input title="First name is required" name="diseaseName" type="text" data-ng-model="disease.diseaseName"/><br/>
    <label for="symptomID">Symptoms:</label>
    <input title="Symptoms is required" name="symptomID" type="text" data-ng-model="disease.symptomID"/><br/> 
    <label for="medicineID">Medicines:</label>
    <input title="Medicines is required" name="medicineID" type="text" data-ng-model="disease.medicineID"/><br/>

    <button id="btnAdd" data-ng-click="disease.submit()">{{addDiseases}}</button><br>
    <nav><a href="#ListAdmin">ListAdmin</a></nav>
</section>





<section>
    <h4>Symptom's information</h4> 
    <label for="symptomName">Symptom Name:</label>
    <input title="Symptom name is required" name="symptomName" type="text" data-ng-model="symptom.symptomName"/><br/>
    <label for="symptomDescription">Symptom Description:</label>
    <input title="Symptom Description is required" name="symptomDescription" type="text" data-ng-model="symptom.symptomDescription"/><br/>

    <button id="btnAdd" data-ng-click="symptom.submit()">{{addSymptoms}}</button><br>
    <nav><a href="#ListAdmin">ListAdmin</a></nav>
</section>
