<section>
	<table>
		<tr>
			<th>Username</th>
			<th>Password</th>
			<th>Full Name</th>
			<th>Type</th>
			<th>Status</th>
		
		</tr>
		<tr data-ng-repeat="s in staffs" data-ng-click="displayToModal(s)">
			<td>{{s.username}}</td>
			<td>{{s.password}}</td>
			<td>{{s.firstName + " " + s.middleName + " " + s.lastName}}</td>
			<td>{{s.staffType}}</td>
			<td>{{s.staffStatus}}</td>		
		</tr>
	</table>
	<br>
	<table id="dialog">
		<caption>Staff's Information</caption>
		<tr>
			<td>
				<label>Username</label>
			</td>
			<td>
				<input data-ng-model="editStaff.username" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Password</label>
			</td>
			<td>
				<input data-ng-model="editStaff.password" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>First name</label>
			</td>
			<td>
				<input data-ng-model="editStaff.firstName" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Last name</label>
			</td>
			<td>
				<input data-ng-model="editStaff.lastName" type="text">
			</td>
		</tr>
		
		<tr>
			<td>
				<label>Middle name</label>
			</td>
			<td>
				<input data-ng-model="editStaff.middleName" type="text">
			</td>
		</tr>
		<tr>
			<td>
				<label>Type</label>
			</td>
			<td>
				<select data-ng-model="editStaff.staffType">
			    	<option default>-- Select Type --</option>
			    	<option ng-value="Admin">Admin</option>
			    	<option ng-value="Doctor">Doctor</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>
				<label>Status</label>
			</td>
			<td>
				<select data-ng-model="editStaff.staffStatus">
			    	<option default>-- Select Status --</option>
			    	<option ng-value="true">Active</option>
			    	<option ng-value="false">Inactive</option>
				</select>
			</td>
		</tr>
	</table>
	<br>
	<button data-ng-click="deleteStaff()">Delete</button>
	<button data-ng-click="updateStaff()">Update</button><br>
	<a href="#Admin">Admin</a>
</section>