/*<-- Styles for the admin screen -->
/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background-color: rgb(225,225,225);
	font-family: Calibri;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
	zoom: 75%;
}

/*Styles for the input and button text, select list, and labels.*/
input[type="text"], select, button, label
{ 	
	font-size: 120%;
}

input[type="number"] {
	font-size: 120%;
}

input, textarea {
	border: none;
	padding-left: 8px;
	padding-right: 8px;
}

textarea {
	font-family: Calibri;
	font-size: 140%;
	height: 100px;
	resize: none;
	width: 500px;
}

/*Styles for the tables.*/
table {
	border-collapse: collapse;
	color: black;
	font-size: 150%;
	margin-bottom: 5%;
	margin-left: 5%;
	margin-top: 2%;
	width: 80%;
}

/*Styles for the table elements.*/
td {
	border-width: 1px 0;
    border-color: rgb(78,78,78);
    border-style: solid;
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 250px;
}

td:first-child {
	font-weight: bold;
	text-align: left;
}

/*td:first-child, td:nth-child(2) {
	color: rgb(111,205,205);
}*/

td:nth-child(4) {
	text-align: right;
	width: 7%;
}

/*Styles for the table headers.*/
th {
	background-color: rgb(246, 215, 79);
	font-size: 130%;
}

th:first-child {
	text-align: left;
}

th:nth-child(4) {
	text-align: right;
}

/*Styles for the UI template of the application.*/
/*Styles for the sideBar div.*/
div#sidebar {
	background-color: white;
	width: 13%;
	height: 110%;
	float: left;
	overflow: auto;
}

div#sidebar-top {
	background-color: rgb(78,78,78);
	float: left;
	height: 4%;
	width: 100%;
	text-align: center;;
}

div#sidebar-main {
	background-color: rgb(51,51,51);
	color: white;
	float: left;
	height: 93%;
	width: 100%;
	text-align: center;
	line-height: 30px;
}
div#sidebar-main a:link, div#sidebar-main a:visited{
	text-decoration: none;
	color: rgb(102,102,102);
}

div#sidebar-top #appLogo {
	height: 30px;
	margin-top: 2%;
	width: 30px;
}

div#sidebar-top #appTitle {
	height: 15px;
	width: 90px;
	margin-bottom: 3%;
	margin-left: 5%;
	margin-right: 8%;
}

div#sidebar-main #doctor {
	display: inline-block;
	font-size: 180%;
	font-weight: bold;
	margin-left: 24%;
	margin-top: 6%;
}

div#sidebar-main #logout {
	cursor: pointer;
}

div#sidebar-main #navigation li .sectionTitle{
	color: white;
	font-size: 150%;
	font-weight: bold;
	margin-left: 35px;
}

div#sidebar-main #navigation li .screenIcon{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 10px;
}

div#sidebar-main a:link, div#sidebar-main a:visited{
	text-decoration: none;
	color: white;
	font-size: 130%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
}

div#sidebar-main #recordTab {
	background-color: rgb(71,158,178);
	margin-top: 20%;
}

div#sidebar-main #medicineTab {
	margin-left: -29%;
	margin-top: 1%;
}

div#sidebar-main #navigation ul{
	list-style-type: none;
	text-align: left;
	line-height: 40px;
}

div#sidebar-main .tab {
	background-color: Transparent;
	border: none;
	bottom: 25px;
	color: white;
	cursor: pointer;
	font-size: 200%;
	height: 6%;
	outline: none;
	width: 100%;
}

/*Styles for the functionBar div.*/
div#functionBar {
	background-color: rgb(242,242,242);
	height: 4%;
	width: 100%;
}

/*Styles for the contentScreen div.*/
div#contentScreen {
	height: 100%;
	overflow: auto;
}

/*Styles for the adminAddDisease html.*/
/*Styles for the addDisease div.*/
div#addDisease, div#addMedicine, div#addRecord, div#addSymptom, div#addAdmin {
	margin-left: 5%;
	margin-top: 2%;
	font-size: 130%;
}

div#addDisease button, div#addMedicine button, div#addRecord button, div#addSymptom button, div#addAdmin button  {
	background-color: rgb(51,51,51);
	border: none;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	width: 7%;
}

div#addDisease #addMedicine {
	width: 11%;
}

div#addDisease .inputLabel, div#addMedicine .inputLabel, div#addRecord .inputLabel, div#addSymptom .inputLabel, div#addAdmin .inputLabel {
	font-size: 150%;
}


/*Styles for the adminAddMedicine html.*/
/*Styles for the addMedicine div.*/
div#addMedicine #medicinePriceField, div#addRecord #feeField {
	font-size: 110%;
	height: 26px;
}

/*Styles for the adminAddRecord html.*/
/*Styles for the addRecord div.*/
div#addRecord #passwordLabel {
	margin-left: 11.2%;
}

div#addRecord #usernameField {
	margin-right: 1%;
}

.modalWrapper:before {
	display:none;
	content: "";
}

.modalContainer {
	left: 50%;
	width: 300px;
	background-color: #fff;
	transform: translate(-50%);
	height: 500px;
	position: absolute;
	top: -200%;
	
	-webkit-transition: top 400ms ease-in-out;
	-moz-transition: top 400ms ease-in-out;
	 transition: top 400ms ease-in-out;
}

.modalHeader,
.modalBody,
.modalFooter {
	padding: 10px;
}

.showModalWrapper {
	position:fixed;
	display:block;
	background-color: rgba(0, 0, 0, 0.8);
	z-index:5;
	width: 100%;
	height: 100%;
	top: 0;
}

.showModalContainer {
	top: 10px;
}

.close {
	float: right;
	cursor:pointer;
}