/*<-- Styles for the doctor screen -->
/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background-color: white;
	font-family: Calibri;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
	zoom: 75%;
}

/*Styles for the input and button text, select list, and labels.*/
input[type="text"], select, button, label {	
	font-size: 120%;
}

input {
	border: none;
	padding-left: 8px;
	padding-right: 8px;
}

/*Styles for the tables.*/
table {
	border-collapse: collapse;
	color: rgb(179,179,179);
	font-size: 150%;
    margin-bottom: 5%;
	margin-left: 5%;
	margin-top: 2%;
	width: 90%;
}

/*Styles for the table elements.*/
td {
	border-width: 1px 0;
    border-color: rgb(230,225,232);
    border-style: solid;
	cursor: pointer;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 250px;
}

td:first-child {
	font-weight: bold;
	text-align: left;
}

td:first-child, td:nth-child(2) {
	color: rgb(111,205,205);
}

td:nth-child(5) {
	text-align: right;
	width: 7%;
}

/*Styles for the table headers.*/
th {
    font-size: 130%;
	font-weight: normal;
}

th:first-child {
	text-align: left;
}

th:nth-child(5) {
	text-align: right;
}

/*Styles for the UI template of the application.*/
/*Styles for the titleBar div.*/

div#sidebar {
	background-color: white;
	width: 13%;
	height: 100%;
	float: left;
	overflow: auto;
	
}

div#sidebar-top {
	background-color: rgb(137,210,232);
	float: left;
	height: 4%;
	width: 100%;
	text-align: center;
}

div#sidebar-top #appLogo {
	height: 30px;
	margin-top: 2%;
	width: 30px;
}

div#sidebar-top #appTitle {
	height: 15px;
	width: 90px;
	margin-bottom: 3%;
	margin-right: 8%;
}

div#sidebar-main {
	background-color: rgb(81,179,216);
	color: white;
	float: left;
	height: 93%;
	width: 100%;
	text-align: center;
}

div#sidebar-main #doctor {
	display: inline-block;
	font-size: 180%;
	font-weight: bold;	
	margin-top: 6%;
}

div#sidebar-main #doctorIcon {
	margin-right: 2%;
	margin-top: 5%;
	width: 30%;
}

div#sidebar-main #logout {
	cursor: pointer;	
	font-weight: normal;
}

div#sidebar-main #navigation li .sectionTitle{
	color: white;
	font-size: 150%;
	font-weight: bold;
	margin-left: 35px;
}

div#sidebar-main #navigation li .screenIcon{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-bottom: 10px;
}

div#sidebar-main a:link, div#sidebar-main a:visited{
	text-decoration: none;
	color: white;
	font-size: 130%;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 5px;
}

div#sidebar-main #recordTab {
	background-color: rgb(71,158,178);
	margin-top: 20%;
}

div#sidebar-main #medicineTab {
	margin-left: -29%;
	margin-top: 1%;
}

div#sidebar-main .tab {
	background-color: Transparent;
	border: none;
	bottom: 25px;
	color: white;
	cursor: pointer;
	font-size: 200%;
	height: 6%;
	outline: none;
	width: 100%;
}

div#sidebar-main #navigation ul{
	list-style-type: none;
	text-align: left;
	line-height: 40px;
}

/*Styles for the functionBar div.*/
div#functionBar {
	background-color: rgb(242,242,242);
	height: 4%;
	width: 100%;
}

/*div#functionbar #inputSearch {
	margin-top: 15px;
	margin-left: 15px;
	height: 50%;
} 

div#functionbar #lblFilter {
	background-color: Transparent;
	margin-left: 10px;
	border: none;
	color: rgb(153,153,153);
	cursor: pointer;
	font-size: 120%;
	font-weight: bold;
	outline: none;
	height: 18px;
	width: 110px;
}*/

/*Styles for the body div.*/
div#body {
	height: 100%;
	width: 100%;
}

/*Styles for the records div.*/
div#body div#records {
	width: 100%;
}

div#body div#records #nameHeader {
	padding-right: 9%;
}

/*Styles for the records div.*/
div#body div#medicines {
	margin-top: -4.77%;
	visibility: hidden;
}

/*Styles for the wilcareAddPatient html addPatient div.*/
div#addPatient {
	font-size: 130%;
	height: 100%;
	left: 10%;
	position: relative;
	margin-top: 3%;
}

div#addPatient #birthDay, div#main #birthYear{
	margin-left: 1%;
}

div#addPatient #lastName{
	margin-left: 4%;
}

div#addPatient #middleName{
	margin-left: 3%;
}

div#addPatient #totalBill{
	height: 30px;
}

div#addPatient .inputField {
	background-color: rgb(242,242,242);
	font-weight: bold;
	margin-bottom: 1%;
	width:16%;
}

div#addPatient .inputLabel {
	margin-left: 15%;
}

.inputLabel {
	margin-left: 5%;
}

/*Styles for the contentScreen div.*/
div#contentScreen {
	height: 100%;
	overflow: auto;
}

/*Styles for the wilcareAddPatient html.*/
/*Styles for the addPatient div.*/
div#addPatient button, div#addPatient select {
	cursor: pointer;
}

div#addPatient input[type="text"] {
	font-weight: normal;
	font-size: 110%;
}

div#addPatient #firstNameLabel, div#addPatient #admissionDateLabel, div#addPatient #dischargeDateLabel,  div#addPatient #sexLabel, div#addPatient #totalBillLabel {
	margin-left: -0.05%;
}

div#addPatient #lastNameLabel {
	margin-left: 10%;
}

div#addPatient #middleNameLabel {
	margin-left: 13%;
}

div#addPatient #totalBillLabel {
	margin-right: 1%;
}

div#addPatient .inputLabel {
	font-size: 140%;
}

.modalWrapper:before {
	display:none;
	content: "";
}

.modalContainer {
	font-size: 120%;
	padding: 10px;
	left: 45%;
	width: 500px;
	background-color: #fff;
	transform: translate(-50%);
	height: 480px;
	position: absolute;
	top: -200%;
	
	-webkit-transition: top 400ms ease-in-out;
	-moz-transition: top 400ms ease-in-out;
	 transition: top 400ms ease-in-out;
}

.modalHeader,
.modalBody,
.modalFooter {
	padding: 10px;
}

.showModalWrapper {
	position:fixed;
	display:block;
	background-color: rgba(0, 0, 0, 0.8);
	z-index:5;
	width: 100%;
	height: 100%;
	top: 0;
}

.showModalContainer {
	top: 100px;
}

.close {
	float: right;
	cursor:pointer;
}




