<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr data-ng-repeat="m in medicines">
            <td>{{m.medicineName}}</td>
            <td>{{m.medicineDescription}}</td>
            <td>{{m.price}}</td>
        </tr>
    </table>
</div>