<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr data-ng-repeat="d in diseases">
            <td>{{d.diseaseName}}</td>
            <td>{{d.diseaseDescription}}</td>
        </tr>
    </table>
</div>