<!-- Doctor Screen -->
<!DOCTYPE html>
<html ng-app="wilcare">
	<head>
		<title>Wilcare</title>
		<!-- Attaching the style sheet for formatting. -->
		<link rel="stylesheet" type="text/css" href="../../css/doctor.css"/>
	</head>
	<body ng-controller="doctorController">
		<!-- Section that contains the logo of the app, records and medicines tabs, and the name and picture of the doctor currently logged in. -->
		<div id="sidebar">
			<div id="sidebar-top">
				<!-- Logo and name of the app. -->
				<img src="../../assets/wilcareLogo.png" id="appLogo"/>
				<img src="../../assets/wilcareTitle.png" id="appTitle"/>
			</div>
			<div id="sidebar-main">
				<!-- Label of the current doctor and for loggin out. -->
				<div id="user-area">
					<label id="doctor">Hello, doctor</label><br/>
					<a id="logout" href="#logout">Logout</a>
				</div>
				<!-- Buttons for the records and medicines tab. -->
				<!--
				<button type="button" class="tab" id="recordTab" ng-click="changeContent('screenRecords')">Records</button><br/>
				<button type="button" class="tab" id="medicineTab" ng-click="changeContent('screenMedicines')">Medicines</button>-->
				<div id="navigation">
					<ul>
						<li>
							<label class="sectionTitle">RECORDS</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Records" > 
							<a class="screenLabel" href="#records" title="Records">View Records </a><br>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_addPatient.png" alt="Create Patient" > 
							<a class="screenLabel" href="#addPatient" title="Create Patient" ng-click="setAdmissionDate();clear()"> Create Patient </a><br><br>
						</li>
						<li>
							<label class="sectionTitle">MEDICINES</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Medicines" > 
							<a class="screenLabel" href="#medicines" title="Medicines"> View medicines </a><br><br>
						</li>
						<li>
							<label class="sectionTitle">DISEASE</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Diseases" > 
							<a class="screenLabel" href="#diseases" title="Diseases"> View diseases </a><br>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="functionBar">
		</div>
		<!-- Section that contains the data of the selected tab. -->
		<div id="contentScreen">
			<ng-view>  Loading...</ng-view>
		</div>
		
		<!-- Attaching scripts for formatting. -->
		<script src="../../js/angular.js"></script>
		<script src="../../js/angular.route.js"></script>
		<script src="../../js/ngStorage.min.js"></script>
		<script src="../../js/app.wilcare.js"></script>
		<script src="../../js/doctorScreen/app.doctorScreen.js"></script>
	</body>
</html>
