<!-- Screen for adding patients. -->
<div id="addPatient">
	<form name="addPatientForm"> 
		<!-- Inputs for patient's first, middle, and last name. -->
		<label class="inputLabel" id="firstNameLabel">First name</label>
		<label class="inputLabel" id="middleNameLabel">Middle name</label>
		<label class="inputLabel" id="lastNameLabel">Last name</label><br/>
		<input class="inputField" id="firstName" placeholder="First Name" name="firstName" title="First name is required" type="text" data-ng-model="patient.firstName">
		<input class="inputField" id="middleName" type="text" placeholder="Middle Name" title="Middle name is required" name="middleName" data-ng-model="patient.middleName">
		<input class="inputField" id="lastName" type="text" placeholder="Last Name" title="Last name is required" name="lastName" data-ng-model="patient.lastName">
		<br/>
		<!-- Patient's birth month, birth day, and birth year. -->
		<label class="inputLabel" id="dischargeDateLabel">Birth date</label><br/>
		<select class="inputField" data-ng-model="extraInfo.birthMonth"
			ng-options="month.displayValue for month in monthArray">
			<!-- Options are created programatically. -->
		</select>
		<input class="inputField" id="admissionDay" type="text" placeholder="Day" maxlength="2" data-ng-model="extraInfo.birthDay">
		<input class="inputField" id="admissionYear" type="text" placeholder="Year" maxlength="4" data-ng-model="extraInfo.birthYear"><br/>
		<!-- Patient's admission month, admission day, and admission year. -->
		<label class="inputLabel" id="admissionDateLabel">Admission date</label><br/>
		<input class="inputField" id="admissionMonth" type="text" placeholder="Month" data-ng-model="admissionMonth" disabled>
		<input class="inputField" id="admissionDay" type="text" placeholder="Day" maxlength="2" data-ng-model="admissionDay" disabled>
		<input class="inputField" id="admissionYear" type="text" placeholder="Year" maxlength="4" data-ng-model="admissionYear" disabled><br/>
		<!-- Input for patient's sex. -->
		<label class="inputLabel" id="sexLabel">Sex</label><br/>
		<select class = "inputField" title="Sex is required" name="sex" data-ng-model="patient.sex"
			ng-options="sex.displayValue for sex in sexArray">
			<!-- Options are created programatically. -->
		</select>
		<br/>
		<label> Blood Type</label><br/>
		<input class="inputField" id="bloodType" placeholder="Blood Type" name="bloodType" title="Blood type is required" type="text" data-ng-model="patient.bloodType"><br/>
		<label >Condition</label><br/>
		<input class="inputField" id="condition" placeholder="Condition" name="condition" title="Condition is required" type="text" data-ng-model="patient.condition"><br/><br/>
		<!-- Buttons for adding patient. -->
		<button class="button" id="add" data-ng-click="addPatient()">Add Patient</button>
	</form>
</div>
