<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Disease</th>
			<th>Admission Date</th>	
			<th>Condition</th>	
		</tr>
		<tr data-ng-repeat="p in patients" data-ng-click="selectRecord(p)" data-ng-if="p.status == true">
			<td>{{p.firstName + " " + p.lastName}}</td>		
			<td>
			</td>
			<td>{{p.admissionDate}}</td>
			<td>{{p.condition}}</td>
		</tr>
	</table>
</div>

<!-- Screen for update patient -->
<div id="modalWrapper" class="modalWrapper">
	<div id="modalContainer" class="modalContainer">
		<div id="modalHeader"> 
			<div id="close" class="close">&times;</div>
		</div>
		<div id="modalBody">
			<form name="updatePatientForm">
				<!-- Inputs for patient's first, middle, and last name -->
				<label class="inputLabel" id="firstNameLabel">Name:</label>
				{{patient.firstName}} {{patient.lastName}}
				<br/><br/>
				<!-- Patient's birth month, birth day, and birth year -->
				<label class="inputLabel" id="birthdayLabel">Birthday:</label>
				{{patient.birthday}}
				<br/><br/>
				<!-- Patient's sex -->
				<label class="inputLabel" id="sexLabel">Sex:</label>
				<b>{{patient.sex}}</b>
				<br/><br/>
				<!-- Patient's sex -->
				<label class="inputLabel" id="bloodtTypeLabel">Blood Type:</label>
				<b>{{patient.bloodType}}</b>
				<!-- Patient's condition -->
				<label class="inputLabel" id="conditionLabel">Condition:</label>
				<b>{{patient.condition}}</b>
				<br/><br/>
				<!-- Patient's admission month, admission day, and admission year. -->
				<label class="inputLabel" id="admissionLabel">Admission Date:</label>
				<b>{{patient.admissionDate}}</b>
				<br/><br/>
				<!-- Patient's discharge month, discharge day, and discharge year. -->
				<label class="inputLabel" id="dischargeDateLabel">Discharge date</label><br/><br/>
				<select class="inputField" data-ng-model="dischargeMonth"
					ng-options="month.displayValue for month in monthArray">
					<!-- Options are created programatically. -->
				</select>
				<input class="inputField" id="dischargeDay" type="text" placeholder="Day" maxlength="2" data-ng-model="dischargeDay">
				<input class="inputField" id="dischargeYear" type="text" placeholder="Year" maxlength="4" data-ng-model="dischargeYear"><br/><br/>
				<!-- Patient's total bill -->
				<label class="inputLabel" id="totalBillLabel">Total Bill:</label>
				<b>{{patient.totalBill}}</b>
				<br/><br/>
			</form>
		</div>
		<div id="modalFooter">
			<!-- Buttons for adding patient. -->
			<button class="button" id="update" ng-click="updatePatient()" ng-disabled=!updatePatientForm.$dirty>Update Record</button>
			<!-- Buttons for adding patient. -->
			<button class="button" id="delete" ng-click="deletePatient()">Delete Record</button>
		</div>
	</div>
</div>