<!-- Login screen -->
<html>
	<head></head>
	<div id="loginScreen">
		<form name="loginForm" ng-submit="login()"> 
			<!-- Image for the app logo and title. -->
			<img id="appLogoMain" src="../assets/wilcareLogo.png"><br/>
			<img id="appNameMain" src="../assets/wilcareTitle.png"><br/>
			<!-- Input fields for username and password. -->
			<input class="inputField" id="user" type="text" placeholder="Username" ng-model="username"><br/>
			<input class="inputField" id="password" type="password" placeholder="Password" ng-model="password"><br/>
			<!-- Button for login. -->
			<button class="btnDefault" type="submit" ng-click="login()" id="btnLogin" >LOGIN</button>
		</form>
	</div>
</html>