﻿/* ------------------------------------------------------------------------------
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Copyright (C) Rococo Global Technologies, Inc - All Rights Reserved 2016
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html.
* @author Wilcare
* @version 0.01
* Version History
* [04/11/2016] 0.01 – Gocotano, Jessie John A. – initial codes
*/	

/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background-color: rgb(245, 208, 64);
	font-family: Nexa Light;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
	zoom: 75%;
}

/*Styles for the input and button text, select list, and labels.*/
input[type="text"], select, button, label
{
	font-size: 120%;
}

/*Styles for the tables.*/
table {
	border-spacing: 20px 10px;
	border-collapse: collapse;
	color: white;
	font-family: NexaLight;
	margin-left: 2%;
	margin-top: -1%;
	width: 1500px;
}

/*Styles for the table elements.*/
td{
	cursor: pointer;
	font-size: 130%;
	text-align: center;
	width: 250px;
}

/*Styles for the table headers.*/
th {
	background-color: rgb(246, 215, 79);
	font-family: NexaBold;
	font-size: 140%;
}

/*Styles for the table rows.*/
tr {
	background-image: url("../assets/doctorScreen/recordBGTile.png");
	height: 60px;
}

/*Styles for the patientTable, medicineTable, patientDisease, and medicineDisease table elements.*/
#patientTable td, #medicineTable td, #patientDiseases td, #medicineDiseases td {
	cursor: auto;
	padding-left: 10px;
} 

/*Styles for the patientTable, medicineTable, patientDisease, and medicineDisease table rows.*/
#patientTable tr, #medicineTable td, #patientDiseases tr, #medicineDiseases td {
	height: 38px;
}

/*Styles for the UI template of the application.*/
/*Styles for the titleBar div.*/
div#titleBar {
	background-color: rgb(250, 232, 158);
	height: 73px;
	margin: auto;
	width: 1600px;
}

div#titleBar #appLogo {
	height: 60px;
	margin-left: 26%;
	margin-top: 0.2%;
	width: 59px;
}

div#titleBar #doctor {
	color: rgb(216,206,196);
	font-family: NexaLight;
	left: 29%;
	position: relative;
	vertical-align: 90%;
}

div#titleBar #doctor:hover{
	color: rgb(206,186,156);
}

div#titleBar #doctorPic {
	top: 4%;
	height: 60px;
	left: 30%;
	position: relative;
	width: 59px;
}

div#titleBar #medicine{
	background-color: rgb(250, 232, 158);
	color: rgb(233, 201, 88);
}

div#titleBar #disease {
	background-color: rgb(246, 205, 29);
	color: white;
}

div#titleBar #title1 {
	font-family: NexaLight;
	font-size: 190%;
}

div#titleBar #title2 {
	margin-left: -0.2%;
	font-family: Archive;
	font-size: 200%;
}

div#titleBar .tab {
	border: none;
	bottom: 25px;
	cursor: pointer;
	font-family: Archive;
	font-size: 175%;
	height: 74px;
	outline: none;
	position: relative;
	width: 160px;
}

div#titleBar .title {
		color: rgb(255, 221, 84);
	vertical-align: 50%;
}

/*Styles for the body div.*/
div#body {
	margin: auto;
	width: 1600px;
}

div#body .function{
	cursor: pointer;
	display: inline-block;
	padding-left: 0.5%;
	vertical-align: -42%;
	width: 52px;
}

div#body .functionTab {
	background-color: rgb(246, 205, 29);
	color: white;
	height: 41px;
	margin: auto;
	margin-top: -0.4%;
	width: 1600px;
}

div#body .separator {
	height: 15px;
}

/*Styles for the functions div.*/
div#body div#functions #list {
	background: url("../assets/doctorScreen/bg_function_selected.png") no-repeat;
	color: rgb(152,215,226);
	margin-left: 2%;
}


/*Styles for the functionsViewingInfo div.*/
div#body div#functionsViewingInfo {
	margin-top: -2.5%;
	visibility: hidden;
}

div#body div#functionsViewingInfo #back{
	margin-left: 2%;
}

/*Styles for the records div.*/
div#body div#diseases {
	margin-top: 2%;
}

/*Styles for the medicines div.*/
div#body div#medicines {
	margin-top: -21.55%;
	visibility: hidden;
}

/*Styles for the pages div.*/
div#body div#pages {
	margin-left: 86%;
	margin-top: 17%;
}
div#body div#pages #numberOfPages {
	color: white;
	vertical-align: top;
}

div#body div#pages #page{
	border: none;
	height: 20px;
	text-align: right;
	vertical-align: top;
	width: 60px;
}

/*Styles for the standardInformation div.*/
div#body div#entryInformation {
	visibility: hidden;
}

div#body div#entryInformation div#standardInformation #patientTable {
	margin-top: -39.3%;
	width: 700px;
	visibility: hidden;
}

div#body div#entryInformation div#standardInformation #medicineTable {
	margin-top: -22.3%;
	width: 700px;
}

/*Styles for the diseaseRelation div.*/
div#body div#entryInformation div#diseaseRelation #patientDiseases {
	margin-left: 50%;
	margin-top: -16.5%;
	width: 750px;
	visibility: hidden;
}

div#body div#entryInformation div#diseaseRelation #medicineDiseases {
	margin-left: 50%;
	margin-top: -3.7%;
	width: 750px;
}

/*Addition of outside fonts.*/
@font-face {
	font-family: Archive;
	src: url("../assets/fonts/Archive.otf") format("opentype");
}

@font-face {
	font-family: NexaLight;
	src: url("../assets/fonts/Nexa Light.otf") format("opentype");
}

@font-face {
	font-family: NexaBold;
	src: url("../assets/fonts/Nexa Bold.otf") format("opentype");
}
