/* ------------------------------------------------------------------------------
WilCare - HEALTH CARE APPLICATION
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html registerScreen.
* @author Christopher Justine Distrito
* @version 0.04
* Version History
* [04/11/2016] 0.01 – Christopher Justine Distrito – initial codes
* [07/26/2016] 0.02 - Christopher Justine Distrito - added Archive font, removed some comments, edited some styles, and inputted styles for functions, records, and medicines divs
* [07/27/2016] 0.03 - Christopher Justine Distrito - added styles for add div
* [09/01/2016] 0.04 - Christopher Justine Distrito - removed outside fonts, styles for title1 and title2 ids, and title class, and edited styles for the input and button text, select list, 
					  labels, table, th, titleBar, body, appLogo, and doctor ids
*/

/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background-color: rgb(152,215,226);
	font-family: Calibri;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
	zoom: 75%;
}

/*Styles for the tables.*/
table {
	background-color: rgb(178,225,233);
	color: rgb(24,77,86);
	font-size: 160%;
	margin-left: 2%;
	margin-top: 2%;
	width: 95%;
}

/*Styles for the tables.*/
input, select, button {
	border: none;
	height: 20px;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
}

/*Styles for the UI template of the application.*/
/*Styles for the titleBar div.*/
div#titleBar {
	background-color: white;
	height: 73px;
	margin: auto;
	width: 100%;
}

div#titleBar #appLogo {
	height: 60px;
	margin-bottom: 0.2%;
	margin-left: 26%;
	width: 59px;
}

div#titleBar #doctorName {
	color: rgb(180,180,180);
	font-size: 130%;
	font-weight: bold;
	margin-left: 36%;
	vertical-align: 150%;
}

div#titleBar #doctorPic {
	height: 61px;
	width: 60px;
}

div#titleBar #logout {
	color: rgb(180,180,180);
	font-size: 120%;
	margin-left: -4%;
	vertical-align: 70%;
}

div#titleBar #medicine {
	background-color: white;
	color: rgb(180,180,180);
	margin-left: -0.4%;
}

div#titleBar #record {
	background-color: rgb(106,214,255);
	color: white;
}

div#titleBar .tab {
	border: none;
	bottom: 25px;
	cursor: pointer;
	font-size: 175%;
	font-weight: bold;
	height: 74px;
	margin-top: 1.5%;
	outline: none;
	position: relative;
	width: 190px;
}

/*Styles for the body div.*/
div#body {
	font-size: 120%;
	margin: auto;
	width: 100%;
}

/*Styles for the addPatient div.*/
div#body div#addPatient, div#body div#addMedicine {
	background-color: rgb(178,225,233);
	margin: auto;
	margin-top: -2.2%;
	padding-left: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	text-align: center;
	width: 55%;
	visibility: hidden;
}

div#body div#addPatient #address {
	width: 70%;
}

div#body div#addPatient #confirm {
	background-color: rgb(249,227,88);
	cursor: pointer;
}

div#body div#addPatient #firstName {
	width: 30%;
}

div#body div#addPatient #lastName {
	width: 30%;
}

div#body div#addPatient .day {
	width: 5%;
}

div#body div#addPatient .patientInformation {
	margin-top: 1%;
}

div#body div#addPatient .year {
	width: 10%;
}

/*Styles for the addMedicine div.*/
div#body div#addMedicine {
	position: absolute;
	top: 24.5%;
}

div#body div#addMedicine .medicineInformation {
	margin-top: 1%;
}

/*Styles for the medicines div.*/
div#body div#medicines {
	margin-top: -4.4%;
	visibility: hidden;
}

/*Styles for the functionsBar div.*/
div#functionsBar {
	background-color: rgb(81,206,244);
	height: 41px;
	margin: auto;
	width: 100%;
}

div#functionsBar .function {
	color: white;
	cursor: pointer;
	font-size: 150%;
	margin-left: 2%;
	vertical-align: -45%;
}

/*Styles for the recordMedicineInformation div.*/
div#functionsBar #recordMedicineInformation {
	margin-top: -2.2%;
	visibility: hidden;
}