/* ------------------------------------------------------------------------------
 * Unauthorized copying of this file, via any medium is strictly prohibited
 * Proprietary and confidential
 * Copyright (C) Rococo Global Technologies, Inc - All Rights Reserved 2016
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html registerScreen.
* @author Wilcare
* @version 0.02
* Version History
* [04/11/2016] 0.01 – Christopher Justine Distrito – initial codes
* [07/24/2016] 0.02 – Christopher Justine Distrito – added styles for the labels and inputs divs, and assigned ids to their corresponding div
*/

/*Style for the body.*/
body {
	/*Overriding the margin property of body.*/
	background: url("../assets/bg_grid_faded.png") no-repeat;
	background-color: rgb(245, 208, 62);
	font-family: Nexa Bold, Arial, Helvetica, san-serif;
	height: 100%;
	margin: 0 !important;
	position: fixed;
	width: 100%;
}

/*Styles for the input and button text and select list.*/
input[type="text"], select, button
{
	font-family: Nexa Light;
	font-size: 125%;
}

/*Styles for the label text.*/
label{
	color: white;
	font-size: 150%;
}

/*Styles for the UI template of the application.*/
/*Styles for the back div.*/
div#back {
	width: 200px;
	margin-left: 1%;
	margin-right: auto;
	margin-top: 1%;	
}

/*Styles for the content div.*/
div#content {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
}

div#content #reg {
	background: url("../assets/button.png") no-repeat;
	border: none;
	color: white;
	height: 53px;
	margin-left: 34%;
	margin-top: 15%;
	outline: none;
	width: 269px;
}

/*Styles for the labels div.*/
div#labels{
	float: left;
	margin-left: 20%;
	width: 140px;
}

/*Styles for the inputs div.*/
div#inputs {
	margin-left: 40%;
}

div#content div#inputs #blood {
	margin-top: -1%;
	margin-left: 2% !important;
}

div#content div#inputs #month {
	background: url("../assets/registerScreen/field3.png") no-repeat;
	border: 0px;
	height: 29px;
	margin-left: 2%;
	outline: 0px;
	width: 134px;
}

div#content div#inputs .day {
	background: url("../assets/registerScreen/field1.png") no-repeat;
	border: 0px;
	height: 29px;
	margin-left: 2%;
	outline: 0px;
	padding-left: 6px;
	width: 53px;
}

div#content div#inputs .input {
	background: url("../assets/registerScreen/nameInput_field.png") no-repeat;
	border: none;
	height: 32px;
	margin-left: 2%;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
	width: 170px;
}

div#content div#inputs .radio {
	height: 25px;
	vertical-align: top;
	width: 30px;
}

div#content div#inputs .sexLabel {
	font-family: NexaLight;
}

div#content div#inputs .year {
	background: url("../assets/registerScreen/field2.png") no-repeat;
	border: 0px;
	height: 29px;
	outline: 0px;
	padding-left: 6px;
	width: 77px;
}

/*Addition of outside fonts.*/
@font-face {
	font-family: NexaLight;
	src: url("../assets/fonts/Nexa Light.otf") format("opentype");
}

@font-face {
	font-family: NexaBold;
	src: url("../assets/fonts/Nexa Bold.otf") format("opentype");
}
