/* ------------------------------------------------------------------------------
WilCare - HEALTH CARE APPLICATION
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html.
* @author Wilcare
* @version 0.03
* Version History
* [07/09/2016] 0.01 – Chance Adrian M. Angam – initial codes
* [07/23/2016] 0.02 – Christopher Justine Distrito - assigned ids and classes to their divs, removed styles for links,
*					  and membership and loginAdmin ids, and edited styles for main, appLogo, appName, login, and user ids and input class
* [09/01/2016] 0.03 – Christopher Justine Distrito - removed outside fonts, edited styles for the input text, password, and button text, font-family of body, 
					  styles for the login id and input class, and added styles for the pass id
*/	

/*Style for the body*/
body {
	/*Overriding the margin property of body.*/
	margin: 0 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	font-family: Calibri;
	background-color: rgb(195,229,238);
	background-image: url("../assets/bg_grid_faded.png");
	background-repeat: no-repeat;
}

/*Styles for the input text, password, and button text.*/
input[type="text"], input[type="password"], button
{
	font-size: 125%;
}

/*Styles for labels.*/
label{
	color: white;
}

/*Styles for the main div.*/
div#main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

div#main #appLogo{
	margin-left: 11%
}

div#main #appName{
	margin-bottom: 12%;
}

div#main #login {
	background-color: rgb(66,183,230);
	cursor: pointer;
	color: white;
	height: 53px;
	margin-top: 1%;
	width: 355px;
}

div#main #pass{
	margin-top: 0.4%;
}

div#main #user{
	margin-top: 9%;
}

div#main .input{
	border: none;
	border-radius: 19px;
	height: 40px;
	margin-left: 34%;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
	width: 340px;
}

