/* ------------------------------------------------------------------------------
WilCare - HEALTH CARE APPLICATION
 * --------------------------------------------------------------------------- */
 
/*
* This file contains the formatting of elements in the html.
* @author Wilcare
* @version 0.02
* Version History
* [07/09/2016] 0.01 – Chance Adrian M. Angam – initial codes
* [07/23/2016] 0.02 – Christopher Justine Distrito - assigned ids and classes to their divs, removed styles for links, 
* 	and membership and loginAdmin ids, and edited styles for main, appLogo, appName, login, and user ids and input class
*/	

/*Style for the body*/
body {
	/*Overriding the margin property of body.*/
	margin: 0 !important;
	height: 100%;
	width: 100%;
	/*position: fixed;*/
	font-family: NexaLight;
	background-color: rgb(245, 208, 62);
	background-image: url("../assets/bg_grid_faded.png");
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
}

/*Styles for the input text, password, and button text.*/
input[type="text"], input[type="password"], button
{
	font-family: Nexa Light;
	font-size: 125%;
}

/*Styles for labels.*/
label{
	color: white;
}

/*Styles for the main div.*/
div#main {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
}

div#main #appLogo{
	margin-left: 11%
}

div#main #appName{
	margin-bottom: 12%;
}

div#main #login {
	background: url("../assets/adminScreen/btn_login.png") no-repeat;
	border: none;
	color: white;
	height: 53px;
	margin-left: 34%;
	margin-top: 4%;
	outline: none;
	width: 269px;
}

div#main #user{
	margin-top: 9%;
}

div#main .input{
	background: url("../assets/loginScreen/inputField.png") no-repeat;
	border: none;
	height: 40px;
	margin-left: 34%;
	outline: none;
	padding-left: 8px;
	padding-right: 8px;
	width: 257px;
}

/*Addition of outside fonts.*/
@font-face {
	font-family: NexaLight;
	src: url("../assets/fonts/Nexa Light.otf") format("opentype");
}

@font-face {
	font-family: NexaBold;
	src: url("../assets/fonts/Nexa Bold.otf") format("opentype");
}

