<!-- Admin Screen -->
<!DOCTYPE html>
<html ng-app="wilcare">
	<head>
		<title>Wilcare</title>
		<!-- Attaching the style sheet for formatting. -->
		<link rel="stylesheet" type="text/css" href="../../css/admin.css"/>
	</head>
	<body ng-controller="adminController" ng-init="adminName='Tophee'">
		<!-- Section that contains the logo of the app, diseases and medicines tabs, and the name and picture of the doctor currently logged in. -->
		<div id="sidebar">
			<div id="sidebar-top">
				<!-- Logo and name of the app. -->
				<img src="../../assets/wilcareLogo_admin.png" id="appLogo"/>
				<img src="../../assets/wilcareTitle.png" id="appTitle"/><br/>		
			</div>
			<div id="sidebar-main">
				<!-- Label of the current doctor and for loggin out. -->
				<div id="user-area">
					<label id="doctor">Admin {{adminName}}</label><br/>
					<label id="logout" href="#wilcareApp">Logout</label><br/><br/>
				</div>
				<!-- Buttons for the records and medicines tab. -->
				<div id="navigation">
					<ul>
						<li>
							<label class="sectionTitle">RECORDS</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Records" > 
							<a class="screenLabel" href="#records" title="Records"> Records </a><br>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_addPatient.png" alt="Create Doctor" > 
							<a class="screenLabel" href="#addRecord" title="Create Doctor"> Create Doctor </a><br><br>
						</li>
						<li>
							<label class="sectionTitle">MEDICINES</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Medicines" > 
							<a class="screenLabel" href="#medicines" title="Medicines"> View medicines </a><br>
						</li>
						<li>	
							<img class="screenIcon" src="../../assets/btn_addPatient.png" alt="Create Medicines" > 
							<a class="screenLabel" href="#addMedicine" title="Create Medicines"> Create Medicines </a><br><br>
						</li>
						<li>
							<label class="sectionTitle">DISEASE</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Diseases" > 
							<a class="screenLabel" href="#diseases" title="Diseases"> View diseases </a><br>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_addPatient.png" alt="Create Diseases" > 
							<a class="screenLabel" href="#addDisease" title="Create Diseases"> Create Diseases </a><br><br>
						</li>
						<li>
							<label class="sectionTitle">SYMPTOMS</label>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_listRecords.png" alt="Symptoms" > 
							<a class="screenLabel" href="#symptoms" title="Symptoms"> View Symptoms </a><br>
						</li>
						<li>
							<img class="screenIcon" src="../../assets/btn_addPatient.png" alt="Create Symptoms" > 
							<a id="resize" class="screenLabel" href="#addSymptom" title="Create Symptoms"> Create Symptoms </a><br><br>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="functionBar">
		</div>
		<!--Contains the span that will hold the message (error/success) to be displayed.-->
		<div id="messageDiv"> 
			<span id="spanMessage"> </span>
		</div>
		<!-- Section that contains the data of the selected tab. -->
		<div id="contentScreen">
			<ng-view>  Loading...</ng-view>
		</div>
		
		<!-- Attaching scripts for formatting. -->
		<script src="../../js/angular.js"></script>
		<script src="../../js/angular.route.js"></script>
		<script src="../../js/ngStorage.min.js"></script>
		<script src="../../js/app.wilcare.js"></script>
		<script src="../../js/adminScreen/app.adminScreen.js"></script>
	</body>
</html>
