<!-- Screen for adding diseases. -->
<div id="addDisease">
	<form name="addDiseaseForm"> 
		<!-- Inputs for disease name and description. -->
		<label class="inputLabel" id="diseaseNameLabel">Disease</label><br/>
		<input class="inputField" id="dieaseName" placeholder="Name" name="diseaseName" title="Disease name is required" type="text" data-ng-model="patient.firstName"><br/>
		<label class="inputLabel" id="diseaseDescLabel">Description</label><br/>
		<textarea class="inputField" id="dieaseDesc" placeholder="Description" name="diseaseDesc" title="Disease description is required" type="text" data-ng-model="patient.lastName"></textarea><br/>
		<!-- Buttons for adding disease. -->
		<button class="button" id="add" data-ng-click="submit()">{{mode}}</button>
	</form>
</div>
