<!-- Screen for adding medicines. -->
<div id="addMedicine">
	<form name="addMedicineForm"> 
		<!-- Inputs for Medicine name and price. -->
		<label class="inputLabel" id="medicineNameLabel">Medicine</label>
		<input class="inputField" id="medicineName" type="text" placeholder="Medicine name" title="Name is required" name="medicineName" data-ng-model="patient.lastName"><br/>
		<label class="inputLabel" id="medicineNameLabel">Price</label>
		<input class="inputField" id="medicineName" type="number" placeholder="0.0" title="Price is required" name="medicinePrice" data-ng-model="patient.lastName"><br/>
		<!-- Buttons for adding medicine. -->
		<button class="button" id="add" data-ng-click="submit()">{{mode}}</button>
	</form>
</div>
