<!-- Screen for adding symptoms. -->
<div id="addSymptom">
	<form name="addSymptomForm"> 
		<!-- Inputs for symptom. -->
		<label class="inputLabel" id="symptomNameLabel">Symptom</label><br/>
		<input class="inputField" id="symptomName" placeholder="Symptom" name="symptom" title="Symptom is required" type="text" data-ng-model="patient.firstName">
		<br/>
		<!-- Buttons for adding symptom. -->
		<button class="button" id="add" data-ng-click="submit()">{{mode}}</button>
	</form>
</div>
