<!-- Screen for adding doctors. -->
<div id="addRecord">
	<label>Username: </label>
	<input type="text" placeholder="Username" data-ng-model="doctor.username"></input><br/>
	<label>Password: </label>
	<input type="text" placeholder="Password" data-ng-model="doctor.password"></input><br/>
	<label>Name: </label>
	<input type="text" placeholder="First name" data-ng-model="doctor.firstName"></input>
	<input type="text" placeholder="Middle name" data-ng-model="doctor.middleName"></input>
	<input type="text" placeholder="Last name" data-ng-model="doctor.lastName"></input><br/>
	<label>Fee: </label>
	<input type="number" placeholder="0.0" data-ng-model="doctor.price"></input><br/>
	<button class="button" id="add" data-ng-click="submitDoctor()">{{doctorMode}}</button>
</div>
